version: '2.5'
services:
  postgres_db:
    image: postgres:latest
    environment:
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
      - "POSTGRES_DATABASE=postgres"
    ports:
      - 5432:5432
    volumes: 
      - ./postgres-data:/var/lib/postgresql/data
      - ./enem_10.csv:/postgres-data/enem_10.csv
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql
    command: >
      sh -c "chmod 777 /postgres-data/enem_10.csv"